
@{
    ViewBag.Title = "NetCafe Index";
    List<NetCafe> netCafes = ViewBag.netcafes;
    List<User> supervisors = ViewBag.supervisors;
    NetCafe selectedNetCafe;
}
<p></p>
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">+ Add New Net Cafe</button>

<div class="container">
    <h2>NetCafe Manager - for admin only</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Edit</th>
                <th>Delete</th>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Supervisor ID</th>
                <th>Supervisor Name</th>
                <th>Status</th>
                <th>Phone number</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (NetCafe netcafe in netCafes)
                {
                    <tr>
                        <td><button class="btn-warning" onclick="location.href='/NetCafe/edit/@netcafe.NetCafeID'">Edit</button></td>
                        <td><button class="btn-danger" onclick="deleteNetCafe(@netcafe.NetCafeID)">Delete</button></td>
                        <td>@netcafe.NetCafeID</td>
                        <td>@netcafe.NetCafeName</td>
                        <td>@netcafe.NetCafeAddress</td>
                        <td>@netcafe.SupervisorID</td>
                        <td></td>
                        <td>@netcafe.NetCafeStatus</td>
                        <td>@netcafe.NetCafePhoneNumber</td>
                        <td>@netcafe.NetCafeDescriptions</td>
                    </tr>


                }
            }

        </tbody>
    </table>
</div>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" style="width:100%">
                    <label for="usr">Name</label>
                    <input type="text" class="form-control" id="netCafeName" >
                    <label for="usr">Address</label>
                    <input type="text" class="form-control" id="netCafeAddress">
                    <div class="form-group">
                        <label for="sel1">Supervisor</label>
                        <select class="form-control" id="netCafeSupervisor">
                            <option value="-1">NONE</option>
                            @{ 

                               foreach (User user in supervisors){
                                   <option value="@user.UserID">@user.UserID - @user.UserName</option>
                               }
                           }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1">Status</label>
                        <select class="form-control" id="netCafeStatus">
                            <option value="1">ACTIVE</option>
                            <option value="2">DEACIVE</option>
                        </select>
                    </div>
                   
                    <label for="usr">Phone Number</label>
                    <input type="text" class="form-control" id="netCafePhoneNumber">
                    <label for="usr">Description</label>
                    <input type="text" class="form-control" id="netCafeDescription">
                </div>
                <p id="error" style="color='red'"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="addNetCafe()">Submit</button>
            </div>
        </div>

    </div>
</div>
<script>

    function addNetCafe() {
        $("#error").html("");
        var name = $('#netCafeName').val();
        var address = $('#netCafeAddress').val();
        var supervisor = $('#netCafeSupervisor option:selected').val();
        var status = $('#netCafeStatus option:selected').val();
        var phoneNumber = $('#netCafePhoneNumber').val();
        var description = $('#netCafeDescription').val();
        if(name == ""){
            $("#error").html("NetCafe name must not be blank");
            return;
        }
        if (address == "") {
            $("#error").html("NetCafe address must not be blank");
            return;
        }
        if (phoneNumber == "") {
            $("#error").html("Phone number must not be blank");
            return;
        }
        if (supervisor == "-1" || supervisor == "") {
            $("#error").html("You must select a supervisor for netCafe");
            return;
        }


        $.ajax({
            url: '/NetCafe/add',
            data: {
                name: name,
                address: address,
                supervisor: supervisor,
                status: status,
                phoneNumber: phoneNumber,
                description: description
            },
            error: function () {
               alert("Problem")
            },
            success: function (data) {
                alert("Add successfully")
                location.reload();

            },
            type: 'POST'
        });
        $('#myModal').modal('hide');
    }
    function deleteNetCafe(id) {
        $.ajax({
            url: '/NetCafe/delete',
            data: {
                id: id
            },
            error: function () {
                alert("Problem")
            },
            success: function (data) {
                alert("Delete successfully")
                location.reload();

            },
            type: 'POST'
        });

    }
    function editNetCafe(indexInArray){
        alert(indexInArray);

    }
</script>