
@{
    ViewBag.Title = "NetCafe Manager";
    Layout = "~/Views/Shared/MasterPage.cshtml";
    List<NetCafe> netCafes = ViewBag.netcafes;
    List<User> supervisors = ViewBag.supervisors;

}



<div class="container">
    <h2>NetCafe Manager</h2>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">+ Add New Net Cafe</button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Edit</th>
                <th>Deactivate</th>
                <th>Name</th>
                <th>Address</th>
                <th>Supervisor Name</th>
                <th>Status</th>
                <th>Phone number</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (NetCafe netcafe in netCafes)
                {
                    <tr>
                        <td><button class="btn btn-warning" onclick="location.href='/NetCafe/edit/@netcafe.NetCafeID'">Edit</button></td>
                        @{
                            if (@netcafe.NetCafeStatus == SLIM_CONFIG.NETCAFE_ACTIVE)
                            {
                                <td><button class="btn btn-danger" onclick="deactivateNetCafe(@netcafe.NetCafeID)">Deactivate</button></td>
                            }
                            else
                            {
                                <td><button disabled="disabled" class="btn btn-danger" onclick="deactivateNetCafe(@netcafe.NetCafeID)">Deactivate</button></td>
                            }
                        }
                        <td>@netcafe.NetCafeName</td>
                        <td>@netcafe.NetCafeAddress</td>
                        <td>@netcafe.User.Fullname</td>
                        <td>
                            @if (netcafe.NetCafeStatus == SLIM_CONFIG.NETCAFE_ACTIVE)
                            {
                                <span>ACTIVE</span>
                            }
                            else
                            {
                                <span>DEACTIVE</span>
                            }
                        </td>
                        <td>@netcafe.NetCafePhoneNumber</td>
                        <td>@netcafe.NetCafeDescriptions</td>
                    </tr>


                            }
            }

        </tbody>
    </table>
</div>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ADD NEW NETCAFE</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" style="width:100%">
                    <label for="usr">Name</label>
                    <input type="text" class="form-control" id="netCafeName">
                    <label for="usr">Address</label>
                    <input type="text" class="form-control" id="netCafeAddress">
                    <div class="form-group">
                        <label for="sel1">Supervisor</label>
                        <select class="form-control" id="netCafeSupervisor">
                            <option value="-1">NONE</option>
                            @{

                                foreach (User user in supervisors)
                                {
                                    <option value="@user.UserID">@user.Fullname</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1">Status</label>
                        <select class="form-control" id="netCafeStatus">
                            <option value="@SLIM_CONFIG.NETCAFE_ACTIVE">ACTIVE</option>
                            <option value="@SLIM_CONFIG.NETCAFE_DEACTIVE">DEACIVE</option>
                        </select>
                    </div>

                    <label for="usr">Phone Number</label>
                    <input type="text" class="form-control" id="netCafePhoneNumber">
                    <label for="usr">Description</label>
                    <input type="text" class="form-control" id="netCafeDescription">
                </div>
                <p class="alert-danger" id="error" style="color: red"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="addNetCafe()">Submit</button>
            </div>
        </div>

    </div>
</div>
<script>

    function addNetCafe() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(addNetCafe1);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }


    function addNetCafe1(position) {
        $("#error").html("");
        var name = $('#netCafeName').val();
        var address = $('#netCafeAddress').val();
        var supervisor = $('#netCafeSupervisor option:selected').val();
        var status = $('#netCafeStatus option:selected').val();
        var phoneNumber = $('#netCafePhoneNumber').val();
        var description = $('#netCafeDescription').val();
        if(name == ""){
            $("#error").html("NetCafe name must not be blank");
            return;
        }
        if (address == "") {
            $("#error").html("NetCafe address must not be blank");
            return;
        }
        if (phoneNumber == "") {
            $("#error").html("Phone number must not be blank");
            return;
        }
        if (supervisor == "-1" || supervisor == "") {
            $("#error").html("You must select a supervisor for netCafe");
            return;
        }

        
        var lati = position.coords.latitude;
        var loti = position.coords.longitude;

        $.ajax({
            url: '/NetCafe/add',
            data: {
                name: name,
                address: address,
                supervisor: supervisor,
                status: status,
                phoneNumber: phoneNumber,
                description: description,
                locationX: lati,
                locationY: loti
            },
            error: function () {
                $("#error").html("Cannot create NetCafe!");
            },
            success: function (data) {
                if (data === 'true'){
                    alert("Add successfully!!")
                    location.reload();
                }
                else{
                    $("#error").html(data);
                }

            },
            type: 'POST'
        });
    }
    function deactivateNetCafe(id) {
            
        $.ajax({
            url: '/netcafe/deactivate',
            data: {
                id: id
            },
            error: function () {
                alert("problem")
            },
            success: function (data) {
                if(data=== 'true'){
                    alert("Deactivate successfully!");
                    location.reload();
                }else{
                    alert("Can't deactivate this netcafe");
                }
            },
            type: 'post'
        });

    }
    function editNetCafe(indexInArray){
        alert(indexInArray);

    }
</script>