@{
    PC pc = ViewBag.pc;
    ViewBag.Title = "Edit " + pc.PCName;
    List<NetCafe> netcafes = ViewBag.netcafes;
}

<h2>Edit @pc.PCName</h2>
@{  if (pc == null)
    {
        <h2>This PC is not longer available. Please try again.</h2>
    }
    else
    {
        <div class="form-group" style="width:100%">
            <label>ID</label>
            <input type="text" class="form-control" value="@pc.PCID" disabled="disabled" />
            <label>Name</label>
            <input type="text" class="form-control" id="pcName" value="@pc.PCName">
            <label>Price</label>
            <input type="text" class="form-control" id="pcPrice" value="@pc.Price">
            <label>Description</label>
            <input type="text" class="form-control" id="pcDescription" value="@pc.PCDescriptions">
            <div class="form-group">
                <label for="sel1">Net Address</label>
                <select class="form-control" id="netCafeAddress">
                    <option value="-1">NONE</option>
                    @{

                        foreach (NetCafe netcafe in netcafes)
                        {
                            if (pc.NetCafeID == netcafe.NetCafeID)
                            {
                                <option value="@pc.NetCafeID" selected="selected">@netcafe.NetCafeName - @netcafe.NetCafeAddress</option>
                            }
                            else
                            {
                                <option value="@pc.NetCafeID">@netcafe.NetCafeName - @netcafe.NetCafeAddress</option>
                            }

                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="sel1">Status</label>
                <select class="form-control" id="pcStatus">
                    @if (pc.PCStatus == 1)
                     {
                        <option value="1" selected="selected">Available</option>
                        <option value="2">N/A</option>
                    }
                    else
                    {
                        <option value="1">Available</option>
                        <option value="2" selected="selected">N/A</option>
                    }

                </select>
            </div>

        </div>
        <p id="error" style="color='red'"></p>
        <button type="button" class="btn" onclick="location.href='/PC'">Cancel</button>

        <button type="button" class="btn btn-success" onclick="editPC()">Submit</button>
                        }
}
<script>
    function editPC() {
        $("#error").html("");
        var id = @pc.PCID;
        var name = $('#pcName').val();
        var price = $('#pcPrice').val();
        var description = $('#pcDescription').val();
        var netcafeAddress = $('#netCafeAddress option:selected').val();
        var status = $('#pcStatus option:selected').val();
        if (name == "") {
            $("#error").html("PC name must not be blank!");
            return;
        }
        if (price == "") {
            $("#error").html("Price must not be blank!");
            return;
        }
        if (description == "") {
            $("#error").html("Description must not be blank!");
            return;
        }
        if (netcafeAddress == "-1" || netcafeAddress == "") {
            $("#error").html("You must select an address!");
            return;
        }
        if (status == "-1" || status == "") {
            $("#error").html("You must select a status!");
            return;
        }


        $.ajax({
            url: '/PC/editPC',
            data: {
                id: id,
                name: name,
                price: price,
                description: description,
                netcafeAddress: netcafeAddress,
                status: status,
            },
            error: function () {
                alert("Problem")
            },
            success: function (data) {
                alert("Edit successfully");
                location.href = "/PC";
            },
            type: 'POST'
        });
    }
</script>
