@{
    ViewBag.Title = "PC Management";
    List<NetCafe> netcafes = ViewBag.netcafes;
      List<NetCafe> netList = ViewBag.NetList;
    List<PC> pcs = ViewBag.pcs;
     List<PC> pcList = ViewBag.PCList;
    String isAdmin = ViewBag.isAdmin;
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<p></p>

<!--Set size of datatable -->
<script type="text/javascript">
    $(function () {
        $("#PC_table").dataTable({
            "iDisplayLength": 100,
        });
    });
</script>

<div class="container">
    
   @{
        if (netcafes == null || netcafes.Count == 0)
        {
             <h2>You haven't managed any netcafe</h2>
        }
        else
        {
            <h2>PC Manageme - @netcafes.ElementAt(0).NetCafeName</h2>
        }
    } 

    @{
        if (netcafes != null && netcafes.Count > 0)
        {

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">+ Add New PC</button>


        }
    }
        <div class="table-responsive">
            @{
                int i = 1;
                foreach (PC pc in pcList)
                {
                    <div class="floating-box" style="float: left; margin: 10px 10px 0px 0px; border: 1px solid; height:250px; width:200px; text-align: center">
                        @{
                            if (pc.PCStatus == 1)
                            {
                                <img width="15" height="15" src=" ~/Content/image/AvailableCircle.png" />
                            }
                            else
                            {
                                <img width="15" height="15" src=" ~/Content/image/NAcircle.png" />
                            }

                        }
                        <label><strong>@pc.PCName</strong></label><br/>
                        <div class="pcBasic" >
                            <img style="margin-left: 25px" width="150" height="150" src=" ~/Content/image/my-computer-vista.png" />
                            <p>Price: @pc.Price đ/h</p>
                        </div>
                        <div class="pcDetail" style="height: 170px">
                            <p>Price: @pc.Price đ/h</p>
                            <p>Description: @pc.PCDescriptions</p>
                                @{foreach (NetCafe netcafe in netList)
                                    {
                                        if (pc.NetCafeID == netcafe.NetCafeID)
                                        {
                                            <p>Address: @netcafe.NetCafeName - @netcafe.NetCafeAddress</p>
                                        }
                                    }
                                        
                                }
                                @if (@pc.PCStatus == 1) {
                                    <p>Status: Available</p>
                                }
                                else {
                                    <p>Status: N/A</p>
                                }
                        </div>
                        <button class="btn btn-success" onclick="location.href='/PC/edit/@pc.PCID'">Edit</button>
                        <button class="btn btn-primary" onclick="deletePC(@pc.PCID)">Delete</button>
                        <style>
                            .circle:before {content: '\25CF'; font-size: 20px;}
                            .pcBasic {position:absolute; overflow:visible;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";filter:alpha(opacity=1);pointer-events:none}
                            .pcDetail {display:inline-block; overflow:hidden;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);pointer-events:none}
                            .floating-box:hover .pcDetail {opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-webkit-transition-duration:.5s;-moz-transition-duration:.5s;-o-transition-duration:.5s;transition-duration:.5s }
                            .floating-box:hover .pcBasic {opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transition-duration:.5s;-moz-transition-duration:.5s;-o-transition-duration:.5s;transition-duration:.5s }
                        </style>
                     </div>
                     
                    i++;
                }
            }
            
        </div>
    </div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New PC</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" style="width:100%">
                    <label for="usr">PC Name</label>
                    <input type="text" class="form-control" id="pcName">
                    <label for="usr">Price</label>
                    <input type="text" class="form-control" id="pcPrice">
                    <label for="usr">Description</label>
                    <input type="text" class="form-control" id="pcDescription">
                    <div class="form-group">
                        <label for="sel1">NetCafe</label>
                        <select class="form-control" id="netCafeAddress">
                            <option value="-1">Select</option>
                            @{

                                foreach (NetCafe netcafe in netList)
                                {
                                    <option value="@netcafe.NetCafeID">@netcafe.NetCafeName - @netcafe.NetCafeAddress</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1">Status</label>
                        <select class="form-control" id="pcStatus">
                            <option value="1">Available</option>
                            <option value="2">N/A</option>
                        </select>
                    </div>
                </div>
                <p id="error" style="color: red"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="addPC()">Submit</button>
            </div>
        </div>

    </div>
</div>


<script>
    function addPC() {
        $("#error").html("");
        var name = $('#pcName').val();
        var price = $('#pcPrice').val();
        var description = $('#pcDescription').val();
        var netcafeAddress = $('#netCafeAddress option:selected').val();
        var status = $('#pcStatus option:selected').val();
        var kiemtraprice = isNaN(($('#pcPrice').val()));
        if (name == "") {
            $("#error").html("PC name must not be blank!");
            return;
        }
        if (price == "") {
            $("#error").html("Price must not be blank!");
            return;
        }
        if (kiemtraprice == true) {
            $("#error").html("Price must be number");
            return;
        }
        if (description == "") {
            $("#error").html("Description must not be blank!");
            return;
        }
        if (netcafeAddress == "-1" || netcafeAddress == "") {
            $("#error").html("You must select an address!");
            return;
        }
        if (status == "-1" || status == "") {
            $("#error").html("You must select a status!");
            return;
        }

        $.ajax({
            url: '/PC/add',
            data: {
                name: name,
                price: price,
                description: description,
                netcafeAddress: netcafeAddress,
                status: status,
            },
            error: function () {
                alert("Problem")
            },
            success: function (data) {
                alert("Add successfully")
                location.reload();

            },
            type: 'POST'
        });
        $('#myModal').modal('hide');
    }
    function deletePC(id) {
        $.ajax({
            url: '/PC/delete',
            data: {
                id: id
            },

            error: function () {
                alert("Problem")
            },
            success: function (data) {
                if (data === 'True'){
                    alert("Delete successfully")
                    location.reload();
                } else {
                    alert("Cannot delete this PC because it is in used!")
                location.reload();
            }

            },

            type: 'post'
        });

    }

    function editNetCafe(indexInArray) {
        alert(indexInArray);

    }
</script>


