
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    ViewBag.Title = "Create Order";
    List<NetCafe> netcafes = ViewBag.netcafes;
    List<PC> pcs = ViewBag.pcs;
    NetCafe selectedNetcafe = ViewBag.selectedNetCafe;
    int userid = ViewBag.userId;
}


<div class="container">
    @{ 
        if (selectedNetcafe != null)
        {
            <h2>
                @selectedNetcafe.NetCafeName - @selectedNetcafe.NetCafeAddress
            </h2>
        }
    }
    <div class="form-group">
        <section class="col-md-5">
            <label>NetCafe</label>
            <select class="form-control" id="netcafeselect">
                @{
                    foreach (NetCafe netcafe in netcafes)
                    {
                        if (selectedNetcafe != null && netcafe.NetCafeID == selectedNetcafe.NetCafeID)
                        {
                            <option selected="selected" value="@netcafe.NetCafeID">@netcafe.NetCafeID - @netcafe.NetCafeName</option>
                        }
                        else
                        {
                            <option value="@netcafe.NetCafeID">@netcafe.NetCafeID - @netcafe.NetCafeName</option>
                        }

                    }
                }
            </select>
            <button style="margin-top: 10px" class="btn btn-success" onclick="goToCreate()">Select</button>
        </section>
    </div>
    
    <script>
        function goToCreate() {
            var id = $("#netcafeselect").val();
            location.href = "/Order/Create/" + id;
        }


    </script>
    <div class="container" style="margin-top: 150px">
        @{
            if (pcs != null)
            {
                <div class="row">
                    @foreach (PC pc in pcs)
                    {
                        <div class="col-sm-8" style="width: 20vw;height: auto;margin:20px;text-align:center;border-style:groove;padding-bottom:10px;border-radius:20px">
                            <img src="~/Content/image/my-computer-vista.png" style="width: 10vw;height: 10vw" />

                            <h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: burlywood">@pc.Price</h3>
                            <button type="button" class="btn btn-success" value="2112" style="width: 100%" onclick="displayform('@pc.PCID','@pc.PCName','@pc.NetCafe.NetCafeName')">Book</button>
                        </div>
                    }


                </div>


            }

        }

    </div>
   

</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create an order</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="usr">PCID</label>
                    <input class="form-control" id="pcid" type="text" value="" disabled="disabled"/>
                    <label>User ID</label>
                    <input class="form-control" id="userid" type="text" value="@userid" disabled="disabled">
                    <label>PCName</label>
                    <input class="form-control" id="pcname" type="text" value="" disabled="disabled"/>
                    <label>NetCafe Name</label>
                    <input class="form-control" id="netcafeid" type="text" value="" disabled="disabled"/>
                    <label>Booking date</label>
                    <div class="radio">
                        <label><input id="dateradio1" type="radio" name="dateradio" value="@DateTime.Today.ToString("dd/MM/yyyy")">Today - @DateTime.Today.ToString("dd/MM/yyyy")</label>
                    </div>
                    <div class="radio">
                        <label><input id="dateradio2" type="radio" name="dateradio" value="@DateTime.Today.AddDays(1).ToString("dd/MM/yyyy")">@DateTime.Today.AddDays(1).ToString("dd/MM/yyyy")</label>
                    </div>
                    <div class="radio">
                        <label><input id="dateradio3" type="radio" name="dateradio" value="@DateTime.Today.AddDays(2).ToString("dd/MM/yyyy")">@DateTime.Today.AddDays(2).ToString("dd/MM/yyyy")</label>
                    </div>
                    <label>Start time</label>
                    <input class="form-control" type="time" id="time"/>
                    <label>Duration</label>
                    <input class="form-control" type="number" id="duration"/>
                    <h5 id="error">Error:</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="addOrder()">Booki</button>
            </div>
        </div>

    </div>
</div>
<script>
    function addOrder() {
        $('#error').html("");
        var PCID = $('#pcid').val();
        var userID = $('#userid').val();
        var Date = null;
        if ($("#dateradio1").is(':checked')) {
            Date = $("#dateradio1").val();
        } else if ($("#dateradio2").is(':checked')) {
            Date = $("#dateradio2").val();
        } else if ($("#dateradio3").is(':checked')) {
            Date = $("#dateradio3").val();

        }

        var Time = $('#time').val();
        var Duration = $('#duration').val();
        
        if (Date == "") {
            $('#error').html("You must select Booking Date");
            return;
        } else {
            alert(Date)
        }
        if (time == "") {
            $('#error').html("You must select Booking Time");
            return;
        }
        if (duration == "") {
            $('#error').html("You must select duration");
            return;
        }
        alert("addOrder" + PCID + Date + "-" + Time);
        $.ajax({
            url: '/Order/AddBooking',
            data: {
                pcid: PCID,
                userid: userID,
                date: Date,
                time: Time,
                duration: Duration

            },
            error: function () {
                alert("problem")
            },
            success: function (data)
            {
                if (data === "true") {
                    alert("add order successfully")
                    location.reload();
                }
                else {
                    alert(data);
                }
               

            },
            type: 'post'
        });
    }
    function displayform(pcid, pcname, netcafename) {
        $('#myModal').modal('show');
        $('#pcid').val(pcid);
        $('#pcname').val(pcname);
        $('#netcafeid').val(netcafename);
    }
</script>