@{
    Layout = "~/Views/Shared/MasterPage.cshtml";

    ViewBag.Title = "Edit";

    Order order = ViewBag.orders;

}

<h2>Edit Order @order.OrderID</h2>
@{ if (order == null)
 {
    <h2>This order is not longer available. Please try again.</h2>
}
 else
 {
    <div class="form-group" style="width: 100%">
        <label for="usr">PC</label>
        <input type="text" class="form-control" id="PC" value="@order.PC.PCName">
        <label for="usr">User</label>
        <input type="text" class="form-control" id="user" value="@order.User.UserName">
        <label for="usr">Start Time</label>
        <input type="text" class="form-control" id="startTime" value="@order.StartTime">
        <label for="sel1">Duration</label>
        <input type="number" class="form-control" id="duration" value="@order.Duration" />
        <div class="form-group">
            <label for="sel1">Status</label>
            <select class="form-control" id="orderStatus">
                @{
                    if (order.OrderStatus == 1)
                    {
                        <option selected="selected" value="1">Holding</option>
                        <option value="2">Using</option>
                        <option value="3">Free</option>
                    }
                    else if (order.OrderStatus == 2)
                    {
                        <option value="1">Holding</option>
                        <option selected="selected" value="2">Using</option>
                        <option value="3">Free</option>
                    }
                    else
                    {
                        <option value="1">Holding</option>
                        <option value="2">Using</option>
                        <option selected="selected" value="3">Free</option>
                    }
                }
                
                
            </select>
        </div>


    </div>
<p id="error" style="color='red'"></p>
<button type="button" class="btn" onclick="location.href='/Order'">Cancel</button>

<button type="button" class="btn btn-success" onclick="editOrder()">Submit</button>
}
}
<script>
    function editOrder() {
        $("#error").html("");
        var id = @order.OrderID;
        var pcid = @order.PCID;
        var userid = @order.UserID;
        var startTime = $('#startTime').val();
        var duration = $('#duration').val();
        var orderStatus = $('#orderStatus option:selected').val();

        if (PC == "") {
            $("#error").html("PC name must not be blank");
            return;
        }
        if (user == "") {
            $("#error").html("Username must not be blank");
            return;
        }
        if (startTime == "") {
            $("#error").html("Start time must not be blank");
            return;
        }
        if (duration == "-1" || duration == "") {
            $("#error").html("You must select duration");
            return;
        }
        if (orderStatus == "-1" || orderStatus == "") {
            $("#error").html("You must select status for this order");
            return;
        }


        $.ajax({
            url: '/order/editOrder',
            data: {
                id: id,
                pcid: pcid,
                userid: userid,
                startTime: startTime,
                duration: duration,
                orderStatus: orderStatus,
            },
            error: function () {
                alert("Problem")
            },
            success: function (data) {
                alert("Edit successfully");
                location.href = "/Order";
            },
            type: 'POST'
        });
    }
</script>


